* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    width:90%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


header {
    top:0;
    width: 100%;
    background-color: lightsalmon;
}

nav {
    display: flex;
    padding: 5px;
    right: 0;
    background-color: lightblue;
    justify-self: right;
}

nav a {
    font-size: 20px;
}

li {
    list-style-type: none;
    padding: 5px;
}

li:hover a {
    background-color: brown;
    color: cadetblue;
}

a {
    padding:10px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

a:hover {
    color: red;
}

h1 {
    font-size: 40px;
    text-align: center;
}

#about-me-section, #work-section, #contact-section { /*main containers for sections*/
    width:100%;
    height: 100%;
    display: flex;
    text-align: center;
    margin-bottom: 8px;
}

#about-me-container, #contact-container {
    min-width: 70%;
    background-color: gray;
    display:flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom:  10px;
}

#main-image img {
    max-width:100%;
    max-height:300px;
    background-size: contain;
    filter: grayscale(100%);
    background-color: darkolivegreen;
    margin-right:10px;
    flex: 0 0 auto; /*no growing, no shrinking from change in flex container*/
}

#main-text {
    width:70%;
    height:100%;
    text-align: left;
    margin: 0 auto;
    background-color:khaki;
    flex: 1 1 auto;
}

.section-header { /*about me, work and contact left main headers*/
    min-width: 29%;
    background-color: darkgoldenrod;
    height: inherit;
    margin-right: 1%;
}

#project-container {
    min-width: 70%;
    display: flex;
    flex-wrap:wrap;
    background-color: cadetblue;
    justify-content: space-around;
}

#hero-project {
    margin: 1%;
    width:100%;
    background-color: coral;
    height: 300px;
}

.project-card {
    margin: 5px;
    width: 30%;
    background-color: coral;
    height: 200px;
}

#contact-container {
    text-align: center;
    justify-content: center;
}

footer {
    bottom: 0px;
    padding: 10px;
}

/*Layout for different screens*/
@media only screen and (max-width: 600px) { /*small screens*/
    nav, nav a, #work-section, #about-me-section, #contact-section,
    #about-me-container {
        flex-direction: column;
        width: 100%;
    }

    .project-card, #hero-project, .section-header {
        width:100%;
    }
}

@media only screen and (min-width: 601px) { /*medium screens*/

    #work-section, #about-me-section, #contact-section,
    #about-me-container {
        flex-direction: column;
        width: 100%;
    }

    nav {
        justify-content: space-evenly;
    }

    #hero-project, .section-header {
        width:100%;
    }

    #work-section {
        width:100%;
    }

    .project-card {
        width:45%;
    }
}

@media only screen and (min-width: 850px) { /*large screens*/
    #work-section, #about-me-section, #contact-section, #about-me-container {
        flex-direction: row;
        width: 100%;
    }

    nav {

        justify-content: flex-end;
    }

    .section-header {
        width:29%;
    }

    .project-card {
        width:30%;
    }
}