* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    color:white;
}

body {
    width:100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: "Trispace";
}


header {
    top:0;
    width: 100%;
    display: flex;
    text-align: left;
}

nav {
    display: flex;
    padding: 10px;
    width:100%;
    right: 0;
}

li {
    display: inline;
    float:right;
    list-style-type: none;
    padding: 5px;
}

nav a {
    font-size: 18px;
    display: block;
}

nav a:hover {
    background-color: teal;
    color: white;
}

a {
    padding:10px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: white;
}

a:hover {
    color:teal;
}

h1 {
    font-size: 40px;
    text-align: left;
}

#about-me-section, #work-section, #contact-section, #main-text, #hero-project img, .project-card img {
    width:100%;
    height:100%;
}

#about-me-section, #work-section, #contact-section { /*main containers for sections*/
    display: flex;
    justify-content: space-between;
}

#about-me-section {
    text-align: center;
    background-color: white;
    color: black;
}

#main-image img {
    width:100%;
    max-height:600px;
    flex: 0 0 auto; /*no growing, no shrinking from change in flex container*/
}

#main-text {
    text-align: left;
    margin-top: 10px;
    padding:10px;
    flex: 1 1 auto; /*can shrink and grow*/
}

#work-section {
    text-align: center;
    flex-wrap:wrap;
    margin-bottom: 10px;
    justify-content: space-around;
}

#hero-project {
    width:100%;
    height: 50%;
    position: relative;
    margin-bottom: 1%;
}

img{
    background-position: center;
    object-fit: cover;
    flex: 1 1 auto;
    /*grayscale filter applied to images*/
    filter:grayscale(100);
}

.project-card {
    margin: 0px;
    width: 33.3%;
    height: 300px;
    position: relative;
    margin-bottom: 1%;
}


.project-text {
    position:absolute;
    left:0;
    top:50%;
    max-width:250px;
    height:80px;
    background-color: black;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0;
    transition: opacity 1s;
}

.project-text p {
    color:teal;
}

/*project text hover opacity effect*/
#hero-project:hover .project-text, .project-card:hover .project-text{
    opacity:100%;
}

/*image hover effects*/
#hero-project img:hover, .project-card img:hover {
    filter:grayscale(0);
}

.header-text {
    width:100%;
    text-align: left;
    font-size: 40px;
    color: teal;
    padding-left: 20px;
}

footer {
    bottom: 0px;
    padding: 10px;
    font-size: 20px;
}

/*FontAwesome icons*/
.fab, .fas {
    font-size: 40px;
}

/*Layout for different screens*/
@media only screen and (max-width: 600px) { /*small screens*/
    nav, li, #work-section, #about-me-section {
        flex-direction: column;
        width: 100%;
    }

    li {
        text-align: center;
    }

    .project-card, #hero-project, .header-text {
        width:100%;
    }

    .main-image img{
        padding: 0;
        margin-right: 0;
        width:100%;
    }

    footer {
        text-align: center;
    }
}

@media only screen and (min-width: 601px) { /*medium screens*/

    #work-section, #about-me-section, #contact-section,
    #about-me-container {
        flex-direction: column;
        width: 100%;
    }

    nav {
        justify-content: space-evenly;
    }

    #hero-project, .header-text {
        width:100%;
    }

    #work-section {
        width:100%;
    }

    .project-card {
        width:45%;
    }
}

@media only screen and (min-width: 850px) { /*large screens*/
    #work-section, #about-me-section, #contact-section {
        flex-direction: row;
        width: 100%;
    }

    nav {
        justify-content: flex-end;
    }

    .project-card {
        width:30%;
    }
}