* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 17px;
}

body {
    background-image: linear-gradient(rgb(53, 53, 53),rgb(0, 0, 0));
    color: white;
}

#about-me {
    text-align: center;
    border-right: 2px solid white;
    padding-right: 15px;
}

p {
    text-align: left;
}

form {
    text-align: left;
}

header {
    top:0;
    width: 100%;
}

.btn {
    border: white 2px solid; 
    background-color: rgba(0, 0, 0, 0.11);
    color: white;
    font-size: 15px;
    display: block;
}

.btn:hover {
    background-color: #838383;
}

.projectCard {
    height: 400px;
    position: relative;
}

li {
    display: inline;
    list-style-type: none;
    text-align: center;
}

.nav {
    display: flex;
    margin:0 auto;
}

.nav a, a {
    color: white;
    font-weight: 300;
    transition: all 0.5s ease-in-out;
}

.nav a:hover, a:hover {
    color: #838383;
    font-weight: 900;
}
    

#about-me .fab {
    font-size: 40px;
    padding: 0 3px 0 3px;
}

a {
    padding:20px;
    text-decoration: none;
    font-size: 30px;
}

h1, nav, h2, h3, h4, h5, h6 {
    font-family: "Contrail One", serif;
    text-align: center;
}

#main-image img{
    max-width:50%;
    max-height:50%;
    border-radius: 50%;
    background-position: center;
    object-fit: contain;
}

.cardImage {
    width:100%;
    max-height:100%;
    background-position: center;
    margin-bottom: 20px;
    object-fit: contain;
}

.cardText {
    text-align: center;
}

.row {
    display: flex;
    align-items: stretch;
}

.CSS, .HTML, .JavaScript, .Handlebars {
    padding-left: 10px;
    font-size: 15px;
}

.CSS {
    background-color: rgb(255, 0, 0);
}

.JavaScript {
    background-color: rgb(255, 60, 0);
}

.Handlebars {
    background-color: rgb(0, 85, 85);
}

.HTML {
    background-color: rgb(245, 221, 3);
    color: black;
}

.row .container {
    flex: 1;
    display: flex;
    height: 15px;
    justify-content: flex-start;
    
}

.row .bar {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.overlay {
    position:absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s ease-in;
    background-image: linear-gradient(rgba(0, 0, 0, 0.959), rgba(0, 0, 0, 0.459));
}

.overlay:hover {
    opacity: 1;
}

/*FontAwesome icons*/
.fab, .fas {
    font-size: 40px;
}

footer {
    bottom: 0px;
    padding-top: 40px;
}

/*Layout for different screens*/
@media only screen and (max-width: 450px) { /*small screens*/

    .nav {
        flex-direction: column;
        text-align: center;
    }

    .fab, .fas {
        font-size: 60px;
    }

    .cardArea {
        border-top: 0px;
        border-right: 0px;
    }


}

@media only screen and (min-width: 770px) { /*medium  tablet screens*/
    .nav {
        flex-direction: row;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

}

@media only screen and (min-width: 771px) { /*larger screens*/
    .nav {
        flex-direction: row;
        justify-content: end;
    }
}