* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 17px;
}

body {
    font-size: 16px;
    background-image: linear-gradient(rgb(53, 53, 53),rgb(0, 0, 0));
    color: white;
}

#about-me {
    text-align: center;
    border-right: 2px solid white;
    padding-right: 15px;
}

p {
    text-align: left;
}

form {
    text-align: left;
}



header {
    top:0;
    width: 100%;
}

.btn {
    border: white 2px solid; 
    background-color: rgba(0, 0, 0, 0.11);
    color: white;
    font-size: 15px;
    display: block;
}

.btn:hover {
    background-color: #838383;
}

.projectCard {
    height: auto;
}

li {
    display: inline;
    list-style-type: none;
    text-align: center;
}

.nav a, a {
 color: white
}

.nav a:hover, a:hover {
    color: #838383;
    text-decoration: underline;
}

a {
    padding:20px;
    text-decoration: none;
    font-size: 30px;
}

h1, nav, h2, h3, h4, h5, h6 {
    font-family: "Bungee", serif;
    text-align: center;
}

#main-image img{
    max-width:50%;
    max-height:50%;
    border-radius: 50%;
    background-position: center;
    object-fit: contain;
}

.cardImage{
    width:100%;
    max-height:300px;
    background-position: center;
    margin-bottom: 20px;
    object-fit: contain;
}

/*FontAwesome icons*/
.fab, .fas {
    font-size: 40px;
}

footer {
    bottom: 0px;
    padding-top: 40px;
}

/*Layout for different screens*/
@media only screen and (min-width: 500px) { /*small screens*/

    .nav {
        flex-direction: column;
        text-align: center;
    }

    .fab, .fas {
        font-size: 60px;
    }

    .cardArea {
        border-top: 0px;
        border-bottom: white 2px solid;
        border-right: 0px;
        padding-top: 30px;
    }


}

@media only screen and (max-width: 699px) { /*medium screens*/
    .nav {
        flex-direction: row;
        justify-content: end;
    }

    .cardArea:nth-child(7), .cardArea:nth-child(8) {
        border-bottom: 2px solid white;
    }

    .cardArea:nth-child(9) {
        border-right: 0px;
    }

    .cardArea {
        width: 50%;
    }
}

@media only screen and (min-width: 700px) { /*larger screens*/
    .nav {
        flex-direction: row;
        justify-content: end;
    }

    .cardArea:nth-child(7), .cardArea:nth-child(8), .cardArea:nth-child(9){
        border-right: 2px white solid;
        border-bottom: 0px;
    }
    
    .cardArea{
        border-bottom: 2px white solid;
        border-right: 2px white solid;
    }
}